@import "tailwindcss";

@theme {
  /* Оставляем тут только цвета, шрифт отсюда убираем */
  --color-light-bg: #fbfbfb;
  --color-brand-dark: #304340;
  --color-brand-white: #ffffff;
}

/* Нативно говорим: всему сайту использовать переменную от Next.js */
body {
  font-family: var(--font-atyp), sans-serif !important;
}

@theme {
  --animate-fade-in-up: fade-in-up 1s cubic-bezier(0.16, 1, 0.3, 1) 0.4s both;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translate(-50%, 20px);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}